

#external {
	color:  yellow;
}

* {
	font-family: "Arial"; monospace;
	font-size: 11px;
}


h1 {
	font-size: 4rem;
}

#thingsToLearn {
	text-transform: uppercase;
}

.languages {
	background-color: #abc39b;
}

[class="tools"] {
	border-widht: 10px;
	border-style: solid;
	border-color: lightblue;
}

img + #otherThings {
	list-style: none;
}

section img {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}


h4 ~ p {
	text-align: center;
}


body > section > ul > li {
	letter-spacing:  8px;
}